.thumbnail {
  box-shadow:0px 0px 7px 1px rgb(85, 84, 84);
  margin: 10px 2px;
	position: relative;
	height: 50px;
	width: 50px;
	background-image: linear-gradient(#dddddd, #797a7c);
	border-radius: 3px;
	background-color: cornflowerblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.thumbnail:hover{
  transform: scale(1.05,1.05);
}
.thumbnail-picked{
  transform: scale(1.05,1.05);
}
.thumbnail img {
	height: 45px;
	width: 45px;
	object-fit: cover;
}
.picked {
  z-index: 0;
	background-image: linear-gradient(#dddddd, #797a7c);
	top: -13px;
	position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #dddddd;
  }
