<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<% if(name) {%>
		<h1>Welcome Back!! <%= name %></h1>
		<% }else {%>
		<h1>Welcome Back!! Guest</h1>
		<% }%>
	</body>
</html>
